<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles/style_model/model_Pstyle.css' %}">
        {% include "Model/Model_Header.html" %}
    </head>
    <body>
        {% block Title %}
        {% endblock %}        
        <div class="move">
            <a href="/AgendaCoffe/Semana/"><button><h1>Semana</h1></button></a>
            <a href="/AgendaCoffe/Etec"><button><h1>Tarefas</h1></button></a>
            <a href="/AgendaCoffe/Notas"><button><h1>Anotações</h1></button></a>
            <a href="/AgendaCoffe/Estudos/"><button><h1>Cursos</h1></button></a>
        </div>
        {% block content %}
        
        {% endblock %}
        {% include "Model/Model_Footer.html" %}
    </body>
</html>