{% load static%}
<link rel="stylesheet" href="{% static 'styles/style_model/model_Footerstyle.css'%}">
<div class="a">    
    <p class="j"><img id="img" src="https://cdn.discordapp.com/attachments/699296519928414220/709466322781601832/IMG_20200429_192126_720.jpg" width="40" height="40" float="center"> MADE BY: Rafael Salandin Moraes  <br>
       Redes: <a href="https://github.com/SaLandini">GitHub</a><a href="https://www.instagram.com/salandin.xr/?hl=pt-br">Istagram</a><a href="https://twitter.com/RafaSalandinM">Twitter</a></p>
    <p class="id">CONFIA QUE O PAI É BRABO</p>
    <buttom><a href="/">Voltar para home</a></buttom>
</div>