{% extends "Model_P.html" %}

{% block content %}
<style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
        p {
                font-family: 'VT323', monospace;
                font-size: larger;
        }
        
        li {
                font-family: 'VT323', monospace;
                font-size: medium;
                list-style: none;
                background-color:rgb(230, 240, 248);
                widght: 250px;
                border-radius: 10px ;
                margin: 1.5px 5px 10px;
        }
        h1, h2 {
                font-family: 'Press Start 2P', monospace;
                font-size: small;
                vertical-align: bottom;
        }
        .tv {   
                background-color: whitesmoke;
                border-radius: 10px;
                margin-left: 700px;
                margin-right: 700px;
        }
        .ol{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                justify-content: center;
                text-align: center;
        }
        .but {
                margin-top:40px;
        }
</style>
 <div class="all">
        <div class="move">
            <a href="/"><button><h1>Organização</h1></button></a><a href="/AgendaTOP/Etec"><button><h1>Tarefas Etec</h1></button></a><a href="/AgendaTOP/Notas"><button><h1>Notas</h1></button></a>
            <p>Tarefas da Etec que foram passadas:</p>
        </div>
        <table class="tv">
                <div class="ol">
                        {% for i in etec %}
                                <li>
                                        <p><b>
                                        {{ i.materia }}
                                        </b></p>
                                        {{ i.dia_entrega}}
                                        <a href="Create/?id={{ i.id }}">Editar</a>
                                </li>
                        {%endfor%}
                </div>
        </table>
        <div class="but">
                <a href="/AgendaTOP/Etec/Create"><button>Mudar/Adicionar</button></a>
        </div>
 </div>

 {% endblock %}