{% extends "Model_P.html" %}

{% block content %}
<style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
        p {
                font-family: 'VT323', monospace;
                font-size: larger;
        }
        td {
                font-family: 'VT323', monospace;
                font-size: medium;
        }
        h1, h2 {
                font-family: 'Press Start 2P', monospace;
                font-size: small;
                vertical-align: bottom;
        }
        .tv {   
                background-color: whitesmoke;
                border-style: solid;
                border-color: black;
                border-radius: 10px;
                margin-left: 700px;
                margin-right: 700px;
        }
        .all {
                overflow-y: scroll;
                background-color: #fbf1c7;
        }

</style>
 <div class="all">
        <div>
            <a href="/"><button><h1>Organização</h1></button></a><a href="/AgendaTOP/Etec"><button><h1>Tarefas Etec</h1></button></a>
            <p>Tarefas da Etec que foram passadas:</p>
        </div>
        <table class="tv">
        {% for i in etec %}
                        <tr align="center">
                                <td><p><b>
                                    {{ i.materia }}
                                </b></p></td>
                                <td align="center">{{ i.dia_entrega}} <br>
                                <a href="Create/?id={{ i.id }}">Editar</a>  <a href="delete/{{ i.id }}">Apagar</a>
                    </td>
                </tr>
        {%endfor%}
        </table>
        <a href="/AgendaTOP/Etec/Create"><button>Mudar/Adicionar</button></a>
 </div>

 {% endblock %}