{% extends "Model_P.html" %}

{% block content %}
<style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
        p {
                font-family: 'VT323', monospace;
                font-size: larger;
        }
        li {
                font-family: 'VT323', monospace;
                font-size: large;
        }
        h1, h2 {
                font-family: 'Press Start 2P', monospace;
                font-size: larger;
                vertical-align: bottom;
        }
        .tv {   
                background-color: whitesmoke;
                border-style: solid;
                border-color: black;
                border-radius: 10px;
                margin-left: 700px;
                margin-right: 800px;
        }
        
</style>
 <div>
        <div>
            <a href="/"><button><h1>Organização</h1></button></a><a href="/AgendaTOP/Etec"><button><h1>Tarefas Etec</h1></button></a>
            <p>Tarefas da Etec que foram passadas:</p>
        </div>
        <div class="tv">
        {% for i in etec %}
                        <div align="center">
                                <p><b>
                                    {{ i.materia }}
                                </b></p>
                                <li align="center">{{ i.dia_entrega}} <br>
                                <a href="Create/?id={{ i.id }}">Editar</a>  <a href="delete/{{ i.id }}">Apagar</a>
                    </li>
                </div>
        {%endfor%}
        </div>
        <a href="/AgendaTOP/Etec/Create"><button>Mudar/Adicionar</button></a>
 </div>

 {% endblock %}