{% extends "Model_P.html" %}

{% block content %}
<style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
        p {
                font-family: 'VT323', monospace;
                font-size: larger;
        }
        li {
                font-family: 'VT323', monospace;
                font-size: large;
        }
        h1, h2 {
                font-family: 'Press Start 2P', monospace;
                font-size: larger;
                vertical-align: bottom;
        }
        .tv {   
                display: grid;
                grid-template-rows: 5fr 5fr 5fr 5fr 5fr;
                grid-template-columns: 1fr 1fr 1fr; 
                gap: 16px;
                padding-right: auto;

        }
        .Manhã{
                display: grid;
                background-color: rgb(230, 240, 248);
                padding: 10px 10px 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                list-style: none;
                border-radius: 18px;
        }
        .Tarde{
                display: grid;
                background-color: rgb(116, 142, 161);
                padding: 10px 10px 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                list-style: none;
                border-radius: 18px;
        }
        .Noite{
                display: grid;
                background-color: rgb(57, 68, 77);
                padding: 10px 10px 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                list-style: none;
                color: rgb(255, 255, 255);
                border-radius: 18px;
        }
</style>
<div class="all">
        <div class="move">
            <a href="/"><button><h1>Organização</h1></button></a><a href="/AgendaTOP/Etec"><button><h1>Tarefas Etec</h1></button></a><a href="/AgendaTOP/Notas"><button><h1>Notas</h1></button></a>
        </div>
        <p>Essa Semana Você tem:</p>
        <div class="tv">
        {% for i in need %}
                {% if i.time == 'Manhã'%}
                        <div class="{{ i.time }}">
                                <p><b>
                                        {{ i.time }}
                                </b></p>
                                <li align="center">
                                        {{ i.titulo}} <br>
                                        <a href="Create/?id={{ i.id }}">Editar</a>  <a href="delete/?id={{ i.id }}">Apagar</a>
                                </li>
                        </div>
                {%endif%}
                {% if i.time == 'Tarde'%}
                        <div class="{{ i.time }}">
                                <p><b>
                                        {{ i.time }}
                                </b></p>
                                <li align="center">
                                        {{ i.titulo}} <br>
                                        <a href="Create/?id={{ i.id }}">Editar</a>  <a href="delete/?id={{ i.id }}">Apagar</a>
                                </li>
                        </div>
                {%endif%}
                {% if i.time == 'Noite'%}
                        <div class="{{ i.time }}">
                                <p><b>
                                        {{ i.time }}
                                </b></p>
                                <li align="center">
                                        {{ i.titulo}} <br>
                                        <a href="Create/?id={{ i.id }}">Editar</a>  <a href="delete/?id={{ i.id }}">Apagar</a>
                                </li>
                        </div>
                {%endif%}
        {%endfor%}
        </div>

        <a href="Create"><button>Mudar/Adicionar</button></a>
</div>
{% endblock %}