@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Press+Start+2P&display=swap');
.a{
    background-color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 10px;
}
.a buttom {
    font-family: 'Press Start 2P';
}
@media (max-width: 900px) {
    .a {
        grid-template-rows: 1fr 1fr 1fr;
    }
}
@media (min-width: 901px) {
    .a {
        grid-template-columns: 1fr 1fr 1fr;
    }
}