{% extends "Model/Model_P.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles/style_pages/Tarefasstyle.css' %}">
 <div class="all">
        <p>Tarefas da Etec que foram passadas:</p>        
        <div class="ol">
                {% for i in homework %}
                        <li>
                                <p><b>
                                {{ i.materia }}
                                </b></p>
                                {{ i.dia_entrega}}
                                <a href="Create/?id={{ i.id }}">Editar</a>
                        </li>
                {%endfor%}
        </div>
        <div class="but">
                <a href="Create"><button>Mudar/Adicionar</button></a>
        </div>
 </div>

 {% endblock %}