{% extends "Model/Model_P.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/style_pages/Remediosstyle.css' %}">
<div class="manha">
    <h1>Manhã</h1>
    <div id="content">
        <li id="init">
            1 comprimido de Puran T4
        </li>
        <li>
            10 gotas de Vitamina D
        </li>
        <li>
            1 comprimido de Desvelafaxina
        </li>
        <li>
            1 comprimido de Vitaminas
        </li>
    </div>
</div>
<div class="tarde">
    <h1>Almoço</h1>
    <div id="content">
        <li id="init">
            1 comprimido de Isotretinoína
        </li>
        <li>
            1 comprimido de Vitaminas
        </li>
    </div>
</div>
<div class="noite">
    <h1>Noite</h1>
    <div id="content">
        <li id="init">
            1 comprimido de Alprazolam
        </li>
        <li>
            2 comprimidos de Eximia Probiac - 1 Dose
        </li>
        <li>
            1 comprimido de Cloroquina de Retardado
        </li>
    </div>
</div>
{% endblock %}