{% extends "Model/Model_P.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/style_pages/Tarefasstyle.css' %}">

<div class="all">
        <p>Tarefas da Etec que foram passadas:</p>        
        <div class="ol">
            <li>
                        <p><b>
                        Mussum Latinus
                        </b></p>
                        01/01/0001
                    <a href="Create/?id={{ i.id }}">Editar</a>
            </li>
        </div>
</div>

 {% endblock %}