{% extends "Model/Model_P.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles/style_pages/Semanastyle.css' %}">
<div class="all">
        
        <p>Essa Semana Você tem:</p>
        <div class="tv">
        {% for i in week %}
                {% if i.time == 'Manhã'%}
                        <div class="{{ i.time }}">
                                <p><b>
                                        {{ i.time }}
                                </b></p>
                                <li align="center">
                                        {{ i.titulo}} <br>
                                        <a href="Create/?id={{ i.id }}">Editar</a>  <a href="delete/?id={{ i.id }}">Apagar</a>
                                </li>
                        </div>
                {%endif%}
                {% if i.time == 'Tarde'%}
                        <div class="{{ i.time }}">
                                <p><b>
                                        {{ i.time }}
                                </b></p>
                                <li align="center">
                                        {{ i.titulo}} <br>
                                        <a href="Create/?id={{ i.id }}">Editar</a>  <a href="delete/?id={{ i.id }}">Apagar</a>
                                </li>
                        </div>
                {%endif%}
                {% if i.time == 'Noite'%}
                        <div class="{{ i.time }}">
                                <p><b>
                                        {{ i.time }}
                                </b></p>
                                <li align="center">
                                        {{ i.titulo}} <br>
                                        <a href="Create/?id={{ i.id }}">Editar</a>  <a href="delete/?id={{ i.id }}">Apagar</a>
                                </li>
                        </div>
                {%endif%}
        {%endfor%}
        </div>

        <a href="Create"><button>Mudar/Adicionar</button></a>
</div>
{% endblock %}